@model IEnumerable<UploadFiles.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDPedido }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDPedido }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDPedido })
            </td>
        </tr>
        foreach (var itemPedido in item.Itens)
        {
        <tr>
            <td>
                @Html.DisplayFor(pedidoItens => itemPedido.Nome)
            </td>
        </tr>
        }
    }

</table>
